<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- <package id="vcredist2017"/> -->
    <!-- <package id="line"/> -->
    <package id="androidstudio"/>
    <package id="notepadplusplus.install"/>
    <package id="vagrant"/>
    <package id="winmerge"/>
    <package id="7zip"/>
    <package id="visualstudio2017community"/>
    <!-- <package id="visualstudio2019community"/> -->
    <package id="cmake"/>
    <package id="git" packageParameters="/NoAutoCrlf"/>
    <package id="git-lfs.install"/>
    <package id="tortoisegit"/>
    <package id="virtualbox"/>
    <package id="vscode"/>
    <package id="thunderbird"/>
    <package id="teraterm"/>
    <package id="ffftp"/>
    <!-- <package id="itunes"/> -->
    <package id="googlechrome"/>
    <package id="crystaldiskinfo.install"/>
    <package id="mpc-hc"/>
    <package id="python"/>
    <package id="sqlite"/>
    <package id="mysql"/>
    <package id="postgresql"/>
    <package id="putty"/>
    <package id="mingw"/>
    <package id="msys2"/>
    <package id="speccy"/>
    <package id="winscp"/>
    <package id="nodejs"/>
    <package id="slack"/>
</packages>
